<a  class="btn btn-primary mt-3 mb-3" href="<?= $this->url('newsList') ?>">News List</a>
<h1>Add news</h1>

<form action="/news/add" method="POST">
   
    <div class="form-group">
          <label for="title">Title</label>
          <input name="title" type="text" class="form-control" id="title" >
    </div>

    <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control" id="description" rows="3"></textarea>
    </div>
    
    <button class="btn btn-primary">Create News</button>
    
</form>