<a  class="btn btn-primary mt-3 mb-3" href="<?= $this->url('newsList') ?>">News List</a>
<h1>Edit News</h1>

<form action="<?= $this->url('newsEdit', ['slug'=> $News->getId()]) ?>" method="POST">
   
    <div class="form-group">
          <label for="title">Title</label>
          <input value="<?= $News->getTitle() ?>" name="title" type="text" class="form-control" id="title" >
    </div>

    <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control" id="description" rows="3"><?= $News->getDescription() ?></textarea>
    </div>
    
    <button class="btn btn-primary">Update News</button>
    <a  class="btn btn-danger mt-3 mb-3" href="<?= $this->url('newsDelete', ['slug'=> $News->getId()]) ?>">News Delete</a>
</form>