<a  class="btn btn-primary mt-3 mb-3" href="<?= $this->url('newsAdd') ?>">Add News</a>

<h1>List news</h1>

<div id="news-list" class="row">
    <?php foreach ($news as $item) { ?>
        <div class="col-md-4">
            <div class="wrap">
                <h3><?= $item->getTitle() ?></h3>
                <p><?=  $item->getDescription() ?></p>
                <span><?= $item->getDateCreate() ?></span>
                <span><?= $item->getUser()->getFullName() ?></span>
                <a  class="btn btn-success mt-2 mb-2" href="<?= $this->url('newsShow',  ['slug' => $item->getId()]) ?>">More</a>
            </div>
        </div>
    <?php } ?>
</div>

