<h1>Show news</h1>
 <div class="news">
    <a  class="btn btn-primary mt-3 mb-3" href="<?= $this->url('newsList') ?>">News List</a>
    <h3>  <?= $News->getTitle() ?></h3>
    <p>   <?= $News->getDescription() ?></p>
    <span><?= $News->getDateCreate() ?></span>
    <span><?= $News->getUser()->getFullName() ?></span>
    <a  class="btn btn-success mt-3 mb-3" href="<?= $this->url('newsEdit', ['slug'=> $News->getId()]) ?>">News Edit</a>
</div>