<form action="login" method="POST" class="w-50 mt-5 ml-auto mr-auto">
    <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp" value="admin@example.com"> 
        <?= isset($errors['email']) ? '<small class="form-text text-danger">Not valid email !!!</small>': ''  ?>
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" value="Secur1ty">
        <?= isset($errors['password']) ? '<small class="form-text text-danger">Not valid password !!!</small>': ''  ?>
    </div>
    <?= isset($errors['not_exist_password_email']) ? '<small class="form-text text-danger">Not exist email or password!!!</small>': ''  ?>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>