<form action="registration" method="POST" class="w-50 mt-5 ml-auto mr-auto">
    <div class="form-group">
        <label for="full_name">Full Name</label>
        <input name="full_name" type="text" class="form-control" id="full_name"  value="Vasa">   
        <?= isset($errors['full_name']) ? '<small class="form-text text-danger">Not valid full name !!!</small>': ''  ?>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp" value="admin@example.com"> 
        <?= isset($errors['email']) ? '<small class="form-text text-danger">Not valid email !!!</small>': ''  ?>
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" value="Secur1ty">
        <?= isset($errors['password']) ? '<small class="form-text text-danger">Not valid password !!!</small>': ''  ?>
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm password</label>
        <input name="confirm_password" type="password" class="form-control" id="confirm_password" value="Secur1ty">
        <?= isset($errors['confirm_password']) ? '<small class="form-text text-danger">Not mach passwords !!!</small>': ''  ?>
    </div>
    <?= isset($errors['email_exist']) ? '<small class="form-text text-danger">Email already exists !!!</small>': ''  ?>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>