<?= $this->doctype() ?>
<?php $User = $this->currentUser() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
    </head>
    <body>

        <div class="container">    
            <header class="mb-3 mt-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    
                    <a class="navbar-brand d-lg-none" href="#">Navbar</a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                  <a class="nav-link" href="<?= $this->url("home") ?>">Home</a>
                            </li>
                             <li class="nav-item">
                                  <a class="nav-link" href="<?= $this->url("newsList") ?>">All news</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                  <a class="nav-link" 
                                     href="<?= $User ? $this->url("logout") : $this->url("login") ?>">
                                      <?= $User ? 'Logout' : 'Login' ?>
                                  </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" 
                                     href="<?= $User ? '#': $this->url("registration") ?>">
                                      <?= $User ? $User->getFullName() : 'Registration' ?>
                                  </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        
            <div class="content">
                <?= $this->content ?>
            </div>
           
            <footer>
                <p>News blog 2018 web developer Alex</p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>



<?php /*
echo '<pre>';
var_dump($this->currentUser()); */
?>
